@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

hanko-auth,
hanko-profile {
  --background-color: transparent;
}

@layer components {
  .nav-btn {
    @apply h-11 w-11 p-2 
    cursor-pointer active:scale-75 transition-transform 
    backdrop-blur-sm bg-white/20 rounded-full shadow-xl z-50
    outline outline-1 hover:outline-2;
  }
  .btn{
    @apply h-11 min-w-max p-2 
    cursor-pointer active:scale-75 transition-transform 
    backdrop-blur-sm bg-white/20 rounded-full shadow-xl z-50;
  }
}
